<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
  <%- include("partials/header")%>
  <main id="shop" role="main">
    <div class="container">
      <section class="mb-4">
        <%- include("partials/products")%>
      </section>
    </div>
  </main>
  <%- include("partials/footer")%>
</body>

</html>
